<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> header }}
  <section class="about">
    <div class="container">
      <p class="about__title">Hello there! I am Aydn, and this is my Weather App!</p>
      <p class="about__content">
        I learn JavaScript (Front-end and Back-end), and this app is my practice.
        The Weather App uses Dark Sky API and Mapbox API to get the weather.
      </p>
      <p class="about__content">
        The whole idea of the app is taken from "The Complete Node.js Developer Course" by Andrew Mead.
        (<a href="https://www.udemy.com/the-complete-nodejs-developer-course-2/">Link</a>).
      </p>
    </div>
  </section>
  <script src="/js/app.js"></script>
</body>
</html> 