<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> header }}
  <section class="weather">
    <div class="container">
      <form class="weather__form">
        <p class="weather__result">Provide the location to get the weather!</p>
        <div class="weather__flex-wrapper">
          <input type="text" class="weather__search-input" placeholder="Auckland">
          <button class="weather__search-button">Search</button>
        </div>
      </form>
    </div>
  </section>
  <script src="/js/app.js"></script>
</body>
</html>