<header class="header">
  <div class="container">
    <h1 class="page-title">{{ title }}</h1>
    <ul class="header__pag-list pag-list">
      <li class="pag-list__item"><a href="/">Get the Weather</a></li>
      <li class="pag-list__item"><a href="/about">About the App</a></li>
    </ul>
  </div>
</header>